@media (max-width: 768px)
    nav>ul
        flex-wrap: wrap
        .logo
            display: block
    .grid
            flex-direction: column
    #cards-black
        flex-direction: column
        .cards-black-left
            text-align: center
            margin: auto
            margin-bottom: 3%
            padding: 0 !important
            width:100% !important
        .grid-black
            flex-direction: column
            gap: 20px
            card>img
                width: 80%
    

@media (max-width: 500px)
    nav>ul
        flex-direction: column
    #greytext
        height: 250px !important
        .greytext_content
            width: 90% !important
    .content-global-grids
        width: 100% !important

            
    #background
        display: none