@font-face {
  font-family: "Cabin";
  src: url("../css/cabin_7/cabin.otf") format("otf");
}
@media (max-width: 768px) {
  nav > ul {
    flex-wrap: wrap;
  }
  nav > ul .logo {
    display: block;
  }

  .grid {
    flex-direction: column;
  }

  #cards-black {
    flex-direction: column;
  }
  #cards-black .cards-black-left {
    text-align: center;
    margin: auto;
    margin-bottom: 3%;
    padding: 0 !important;
    width: 100% !important;
  }
  #cards-black .grid-black {
    flex-direction: column;
    gap: 20px;
  }
  #cards-black .grid-black card > img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  nav > ul {
    flex-direction: column;
  }

  #greytext {
    height: 250px !important;
  }
  #greytext .greytext_content {
    width: 90% !important;
  }

  .content-global-grids {
    width: 100% !important;
  }

  #background {
    display: none;
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Cabin";
}
body nav {
  background-color: #363b47;
  display: flex;
  align-items: center;
}
body nav .logo {
  color: white;
  width: 50%;
  text-align: center;
}
body nav ul {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
body nav ul li {
  margin-right: 30px;
  color: #999ca1;
}
body #background {
  background-image: url("../img/bg-header.png");
  height: 500px;
  width: 100%;
}
body #greytext {
  width: 100%;
  height: 200px;
  background-color: #e8e6e0;
  text-align: center;
  margin-top: 0;
}
body #greytext .greytext_content {
  width: 80%;
  margin: auto;
  color: #999ca1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 3%;
  font-size: 1.5em;
}
body #greytext p {
  margin-block-start: 0;
}
body #greytext p span:nth-child(1) {
  background-color: #26a2cc;
  color: white;
}
body #greytext p span:nth-child(2) {
  color: #26a2cc;
  font-weight: bold;
}
body #greytext p span:nth-child(3) {
  font-weight: 900;
}
body .content-global-grids {
  width: 90%;
  margin: auto;
}
body .content-global-grids #cards .grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: auto;
  gap: 5%;
}
body .content-global-grids #cards .grid .card {
  background-color: #e2e0e0;
  padding: 10px;
  margin-top: 4%;
  border-radius: 5px;
}
body .content-global-grids #cards .grid .card h4 {
  text-transform: uppercase;
  line-height: 0;
}
body .content-global-grids #cards .grid .card .grid-card-p-blue {
  color: #26a2cc;
  margin-block-start: 0;
}
body .content-global-grids #cards .grid .card .icon {
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  color: #3676bb;
}
body .content-global-grids #cards .grid .card .icon i {
  padding-top: 15px;
}
body .content-global-grids #cards-black {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-bottom: 5%;
}
body .content-global-grids #cards-black .cards-black-left {
  width: 40%;
  padding-right: 70px;
}
body .content-global-grids #cards-black .cards-black-left button {
  padding: 15px;
  background-color: #26a2cc;
  border-radius: 5px;
  color: white;
  border: none;
}
body .content-global-grids #cards-black .grid-black {
  width: 100%;
  display: flex;
  gap: 3px;
  background-color: white;
}
body .content-global-grids #cards-black .grid-black .card {
  background-color: #38485f;
  color: white;
  text-align: center;
  border-radius: 5px;
}
body .content-global-grids #cards-black .grid-black .card img {
  width: 100%;
}
body .content-global-grids #cards-black .grid-black .card p {
  padding-left: 5px;
  padding-right: 5px;
  color: #999ca1;
}

footer {
  background-color: #3676bb;
  color: #999ca1;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer p {
  margin-left: 5%;
  margin-right: 5%;
}
footer ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: center;
}
footer ul li {
  margin-right: 15px;
}
footer .copyright {
  background-color: #363b47;
  height: 40px;
  padding-top: 20px;
}

/*# sourceMappingURL=style.css.map */
